page-datausage {
  button.item {
    border-bottom: 1px solid map_get($colors, greyborder) !important;
    &:last-child{
      border-bottom: 0 !important;
    }
    .item-inner {
      background-image: none !important;
      padding-right: 0 !important;
    }
  }
  .check_box{
    .label{
      white-space: normal;
      display: flex;
      flex-direction: column;
    }
  }
}
