page-soundrecord {
  ion-list-header{
    ion-label{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  h4 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
  }
  ion-col {
    justify-content: center;
    align-items: center;
    display: flex;
    .button {
      box-shadow: none;
    }
    .small_btn{
      height: 45px;
      width: 45px;
      border-radius: 100%;
    }
    .large_btn{
      height: 70px;
      width: 70px;
      border-radius: 100%;
    }
  }
}
