* {
  font-family: 'Open Sans', sans-serif;
}

.alert-wrapper {
  width: 90%;
  min-width: 300px;
  max-width: 500px;
}

.select-wp {
  border: 0;
  margin: 0;
}

ion-backdrop {
  opacity: 0.1;
}

#profilepic_popover {
  .popover-content {
    top: 50% !important;
    left: 50% !important;
    transform: perspective(500px) translate3d(-50%, -50%, 0px) !important;
    width: 250px;
  }
}

emoji-picker {
  width: 100%;
  right: 8px;
  [_nghost-c1] {
    width: 100%;
  }
}

#soundrecord_popover {
  .popover-content {
    width: calc(100% - 32px) !important;
    left: 16px !important;
    max-width: 500px !important;
    transform-origin: center center !important;
  }
}

#message_option {
  .popover-content {
    transform-origin: center center !important;
  }
}

.firstload {
  ion-backdrop {
    opacity: 1 !important;
    background-color: map_get($colors, primary);
  }
  .loading-wrapper {
    box-shadow: none;
    background-color: transparent;
    flex-direction: column;
    font-size: 1.6rem;
    color: map_get($colors, extralight);
    .loading-content {
    }
  }
  .spinner-dots circle {
    fill: map_get($colors, extralight);
  }
}

//userlist

.user_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 12px 0;
  border-bottom: 1px solid map_get($colors, light);
  &:last-child {
    border-bottom: 0;
  }
  .user_img {
    border-radius: 50%;
    overflow: hidden;
    max-width: 45px;
    max-height: 45px;
    min-width: 45px;
    min-height: 45px;
    flex: 1;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
    }
  }
  .user_details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    padding-left: 16px;
    width: calc(100% - 45px);
    .text_area {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      h2 {
        margin: 2px 0;
        font-size: 1.6rem;
        font-weight: normal;
      }
      p {
        margin: 0 0 2px;
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: map_get($colors, textmsg);
      }
    }
    .time_area {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      time {
        font-size: 1.2rem;
        font-weight: normal;
      }
      ion-badge {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: normal;
        margin-top: 8px;
      }
    }
  }
}

.active {
  .text_area {
    h2, p {
      font-weight: 600 !important;
    }
  }
}

//searchbar
.seachbar_header {
  animation: linear;
  animation-name: expend;
  animation-duration: 200ms;
  ion-searchbar.searchbar.searchbar_position {
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 22;
    height: 100%;

    .searchbar-input-container {
      float: left;
      width: 100%;
      height: 100%;
      position: relative;
      input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        box-shadow: none;
        padding-left: 8px;
      }
      .searchbar-search-icon {
        display: none;
      }
    }
  }
}

@keyframes expend {
  0% {
    left: 100%;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

textarea {
  padding: 8px;
}

.settingalert .alert-radio-group {
  padding: 0 12px;
}

#hide_show_fab {
  transition: all linear 0.3s;
}

.alert-md .alert-head {
  padding: 24px 12px 20px;
}

.alert_normal.alert-md .alert-head {
  padding: 24px 24px 20px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    position: absolute;
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeOutLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    position: absolute;
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeOutLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.effect {
  filter: blur(1px);
  transform: scale(1.005);
  transition: all linear 0.2s;
}

.action-sheet-ios .action-sheet-button {
  color: map_get($colors, primary);
}

@media only screen and (min-width: 360px) {
  ion-buttons[right] {
    margin-right: 16px;
    &:nth-last-child(2) {
      margin-right: 8px;
    }
  }
}

.toolbar-ios ion-title {
  padding: 0 100px 1px 90px;
}

button.item ion-icon {
  width: 28px;
}

.alert-md .alert-wrapper {
  box-shadow: none;
}

.nointernet {
  .toast-wrapper {
    top: 16px !important;
    left: 16px;
    right: 16px;
    width: auto;
    border-radius: 40px;
  }
}



//
// SuperTabs styles
//

super-tabs {
  
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
  
    > div.container {
  
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      z-index: 1;
  
  
      > div.inner-container {
  
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        box-sizing: content-box;
  
      }
  
  
    }
  
    &:not([no-shadow]) {
  
      &.tabs-placement-bottom {
        > super-tabs-toolbar > ion-toolbar.toolbar::before {
          top: -2px;
          bottom: auto;
          height: 2px;
          background-position: 0 0;
          content: '';
        }
      }
  
      > super-tabs-toolbar > ion-toolbar.toolbar {
        &::after, &::before {
          position: absolute;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
          background-repeat: repeat-x;
          width: 100%;
          left: 0;
        }
        &::after {
          content: '';
          height: 5px;
          background-position: 0 -2px;
          bottom: -5px;
        }
        contain: inherit;
        display: block;
        overflow: visible;
      }
  
    }
  
  }
  
  super-tabs.tabs-placement-bottom {
  
    flex-direction: column-reverse;
  
    > super-tabs-toolbar > ion-toolbar.toolbar {
  
      padding: 0;
  
      .tab-buttons-container {
        .indicator {
          top: 0;
          bottom: auto;
        }
  
        ion-segment.segment.segment-md {
          padding-top: 4px;
        }
      }
  
      &.scroll-tabs .tab-buttons-container .indicator {
        margin-top: 0;
        margin-bottom: -2px;
      }
  
    }
  
  }
  
  ion-tabs super-tabs ion-content {
    .scroll-content, .fixed-content {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  
  
  
  
  
  //
  // SuperTab styles
  //
  
  super-tab {
  
    height: 100%;
  
    box-sizing: border-box;
    display: block;
  
    overflow: hidden;
    z-index: 1;
  
    flex-shrink: 0;
    position: relative;
  
  }
  
  
  
  
  
  //
  // SuperTabsContainer styles
  //
  
  super-tabs-container {
  
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    z-index: 1;
  
    > div {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      box-sizing: content-box;
      touch-action: pan-y;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
  
  }
  
  
  
  
  
  //
  // SuperTabsToolbar styles
  //
  
  super-tabs-toolbar {
  
    z-index: 2;
    width: 100%;
    display: block;
  
    > ion-toolbar.toolbar {
  
      padding: 0;
      min-height: 0;
  
      .tab-buttons-container {
        touch-action: pan-y;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        overflow: hidden;
  
        .tab-buttons {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          width: 100%;
  
          super-tab-button {
  
            &:not(.selected) {
              ion-icon, span:not(.badge) {
                opacity: 0.7;
              }
            }
  
            text-align: center;
  
            flex: 1;
            width: 0;
            height: 48px;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
  
            margin-left: 0;
            margin-right: 0;
  
            position: relative;
            display: block;
            overflow: hidden;
  
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
  
            align-items: flex-end;
            align-content: flex-end;
  
            padding: 0 12px;
  
            &.title-only {
              .title {
                line-height: 48px;
              }
            }
  
            &.icon-only {
              ion-icon {
                line-height: 48px;
              }
            }
  
            &.title-and-icon {
              height: 72px;
              padding-top: 8px;
              ion-icon {
                margin-bottom: 10px;
              }
            }
  
            ion-icon {
              font-size: 24px;
            }
  
            .title {
              vertical-align: middle;
              display: block;
            }
  
            .badge {
              position: absolute;
              top: 0;
              right: 4px;
            }
  
          }
  
        }
  
        .indicator {
          bottom: 0;
          position: absolute;
          z-index: 2;
          height: 2px;
          width: 100px;
          transform: scaleX(0);
          transform-origin: 0;
        }
  
      }
  
      &.scroll-tabs {
        .tab-buttons-container {
          //padding-left: 60px;
  
          .tab-buttons {
            position: relative;
            justify-content: flex-start;
            super-tab-button {
              min-width: 50px;
              max-width: 100%;
              width: auto;
              display: inline-table;
              overflow: visible;
  
            }
          }
  
          .indicator {
            position: relative;
            margin-top: -2px;
          }
  
        }
      }
  
    }
  
  }
  