page-userpicpopover {
  .propic_wrapper{
    display: flex;
    flex-direction: column;
    img{
      flex: 1;
      width: 100%;
    }
    ion-footer{
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
